body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

.navbar{
    height: 44px;
    width: 100%;
    border: 2px solid rgb(232, 238, 240);
    display: flex;
    background-color: white;
}
.imglogo{
    height: 36px;
    width: 35px;
    margin-left:10px;
    padding: 4px;
}
.redditlogo{
    font-size: x-large;
    padding: 8px;
    font-weight: bold;
    
}
.div1{
    border-radius: 12px;
    margin: 3px;
    display: flex;
    height: 34px;
    width: 650px;
    margin-left: 85px;
    border: 2px solid rgb(240, 238, 243);
}
.imglogo2{
    width: 20px;
    height: 20px;
    margin: 7px;
    cursor: pointer;
}
/* .input{
    margin: 3px;
    width: 598px;
    padding: 8px;
    border-radius: 36px;
    border: none;
    border: 2px solid rgb(237, 234, 229);
    background-color: white;
    margin-left: 117px;
} */
.input{
    border: none;
    outline: none;
    width: 500px;
}

 .headerNavbar{
    border-radius: 30px;
    border: 2px solid gray;
    padding: 11px 70px;
    margin: 0px 70px;
     width: 15px;
    background-color: dimgrey;      
 }

 .headerLink{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; 
 }

 .headerOption_One{
    width: 50px;
    font-weight: bolder;
    color: white;
 }

 .GetApppp{
    width: 130px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
    margin: 1px 30px;
 }