.searchbar{
    border: 2px solid rgb(228, 206, 206);
    width: 330px;
    height: 45px;
    text-align: center;
    margin: 0px 505px;
    
}
.divvvv{
    background-color: rgb(210, 226, 220);
 
}
.logout{
    
}